In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings

In [2]:
%matplotlib inline
pd.set_option("display.max_rows", None,"display.max_columns", None)
warnings.simplefilter(action='ignore')
plt.style.use('seaborn')

In [3]:
df_main = pd.read_csv('car data.csv')

In [5]:
#df_main['Age'] = 2020 - df_main['year']
#df_main.drop('year',axis=1,inplace = True)
df_main['Age'] = 2020 - df_main['Year']
df_main.drop('Year',axis=1,inplace = True)

In [6]:
df_main.head()

,Car_Name,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Age
0,ritz,3.35,5.59,27000,Petrol,Dealer,Manual,0,6
1,sx4,4.75,9.54,43000,Diesel,Dealer,Manual,0,7
2,ciaz,7.25,9.85,6900,Petrol,Dealer,Manual,0,3
3,wagon r,2.85,4.15,5200,Petrol,Dealer,Manual,0,9
4,swift,4.60,6.87,42450,Diesel,Dealer,Manual,0,6

In [ ]:
#df_main.drop(labels='Unnamed: 0',axis= 1, inplace = True)

In [ ]:
#df_main.drop(labels='name',axis= 1, inplace = True)
df_main.drop(labels='Car_Name',axis= 1, inplace = True)

In [ ]:
df_main = pd.get_dummies(data = df_main,drop_first=True) 
# drop_first is set to True, to avoid "Dummy Trap"

In [ ]:
df_main.head()

# train - test split

In [ ]:
# [ km_driven, Age, fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol, transmission_Manual, seller_type_Individual]
y = df_main['selling_price']
y

In [ ]:
#X = pd.DataFrame(df_main, columns= ['km_driven', 'Age', 'fuel_Diesel','fuel_Electric','fuel_LPG','fuel_Petrol', 'transmission_Manual', 'seller_type_Individual'])
X = df_main.drop('selling_price',axis=1)
X

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
print("x train: ",X_train.shape)
print("x test: ",X_test.shape)
print("y train: ",y_train.shape)
print("y test: ",y_test.shape)

In [ ]:
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
import pickle

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(X_train,y_train)

In [ ]:
# R2 score of train set
y_pred_train = lr.predict(X_train)

In [ ]:
CV = []
R2_train = []
R2_test = []

R2_train_model = r2_score(y_train,y_pred_train)
R2_train.append(round(R2_train_model,2))
    
# R2 score of test set
y_pred_test = lr.predict(X_test)
R2_test_model = r2_score(y_test,y_pred_test)
R2_test.append(round(R2_test_model,2))
    
# R2 mean of train set using Cross validation
cross_val = cross_val_score(lr ,X_train ,y_train ,cv=5)
cv_mean = cross_val.mean()
CV.append(round(cv_mean,2))
    
# Printing results
print("Train R2-score :",round(R2_train_model,2))
print("Test R2-score :",round(R2_test_model,2))
print("Train CV scores :",cross_val)
print("Train CV mean :",round(cv_mean,2))
    
# Plotting Graphs 
# Residual Plot of train data
fig, ax = plt.subplots(1,2,figsize = (10,4))
ax[0].set_title('Residual Plot of Train samples')
sns.distplot((y_train-y_pred_train),hist = False,ax = ax[0])
ax[0].set_xlabel('y_train - y_pred_train')
    
# Y_test vs Y_train scatter plot
ax[1].set_title('y_test vs y_pred_test')
ax[1].scatter(x = y_test, y = y_pred_test)
ax[1].set_xlabel('y_test')
ax[1].set_ylabel('y_pred_test')
    
plt.show()