In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings

In [3]:
warnings.simplefilter(action='ignore')
plt.style.use('seaborn')

In [6]:
df_main = pd.read_csv("vehical.csv")
df_main

,Unnamed: 0,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price,type,fuel,transmission
0,0,Royal Enfield Classic 350,175000,2019,Individual,1st owner,350,NaN,Two Wheeler,Petrol,NaN
1,1,Honda Dio,45000,2017,Individual,1st owner,5650,NaN,Two Wheeler,Petrol,NaN
2,2,Royal Enfield Classic Gunmetal Grey,150000,2018,Individual,1st owner,12000,148114.0,Two Wheeler,Petrol,NaN
3,3,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,Individual,1st owner,23000,89643.0,Two Wheeler,Petrol,NaN
4,4,Yamaha SZ [2013-2014],20000,2011,Individual,2nd owner,21000,NaN,Two Wheeler,Petrol,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5396,4335,Hyundai i20 Magna 1.4 CRDi (Diesel),409999,2014,Individual,Second Owner,80000,NaN,Four Wheeler,Diesel,Manual
5397,4336,Hyundai i20 Magna 1.4 CRDi,409999,2014,Individual,Second Owner,80000,NaN,Four Wheeler,Diesel,Manual
5398,4337,Maruti 800 AC BSIII,110000,2009,Individual,Second Owner,83000,NaN,Four Wheeler,Petrol,Manual
5399,4338,Hyundai Creta 1.6 CRDi SX Option,865000,2016,Individual,First Owner,90000,NaN,Four Wheeler,Diesel,Manual
5400,4339,Renault KWID RXT,225000,2016,Individual,First Owner,40000,NaN,Four Wheeler,Petrol,Manual

In [8]:
df_main.shape

(5401, 11)

In [9]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5401 entries, 0 to 5400
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5401 non-null   int64
 1   name               5401 non-null   object
 2   selling_price      5401 non-null   int64
 3   year               5401 non-null   int64
 4   seller_type        5401 non-null   object
 5   owner              5401 non-null   object
 6   km_driven          5401 non-null   int64
 7   ex_showroom_price  626 non-null    float64
 8   type               5401 non-null   object
 9   fuel               5401 non-null   object
 10  transmission       4340 non-null   object
dtypes: float64(1), int64(4), object(6)
memory usage: 464.3+ KB

In [10]:
df_main.describe()

,Unnamed: 0,selling_price,year,km_driven,ex_showroom_price
count,5401.000000,5.401000e+03,5401.000000,5401.000000,6.260000e+02
mean,1847.428254,4.168096e+05,2013.243288,59957.833179,8.795871e+04
std,1305.502577,5.484233e+05,4.243171,49310.579743,7.749659e+04
min,0.000000,5.000000e+03,1988.000000,1.000000,3.049000e+04
25%,675.000000,1.100000e+05,2011.000000,26000.000000,5.485200e+04
50%,1639.000000,2.800000e+05,2014.000000,50000.000000,7.275250e+04
75%,2989.000000,5.400000e+05,2017.000000,80000.000000,8.703150e+04
max,4339.000000,8.900000e+06,2020.000000,880000.000000,1.278000e+06

In [11]:
df_main.isna().sum()

Unnamed: 0              0
name                    0
selling_price           0
year                    0
seller_type             0
owner                   0
km_driven               0
ex_showroom_price    4775
type                    0
fuel                    0
transmission         1061
dtype: int64

# Data preprocessing

In [15]:
df_main['Age'] = 2020 - df_main['year']
df_main.drop('year', axis=1, inplace = True)

In [16]:
df_main.columns

Index(['Unnamed: 0', 'name', 'selling_price', 'seller_type', 'owner',
       'km_driven', 'ex_showroom_price', 'type', 'fuel', 'transmission',
       'Age'],
      dtype='object')

In [18]:
#df_main.rename(columns = {'Selling_Price':'Selling_Price(lacs)','Present_Price':'Present_Price(lacs)','Owner':'Past_Owners'},inplace = True)

df_main[df_main['selling_price'] > df_main['selling_price'].quantile(0.99)]

,Unnamed: 0,name,selling_price,seller_type,owner,km_driven,ex_showroom_price,type,fuel,transmission,Age
1150,89,Mercedes-Benz S-Class S 350d Connoisseurs Edition,8150000,Dealer,First Owner,6500,NaN,Four Wheeler,Diesel,Automatic,3
1162,101,Mercedes-Benz E-Class Exclusive E 200 BSIV,4500000,Dealer,First Owner,9800,NaN,Four Wheeler,Petrol,Automatic,2
1265,204,BMW 5 Series 520d Luxury Line,2900000,Individual,First Owner,40000,NaN,Four Wheeler,Diesel,Automatic,3
1600,539,Mercedes-Benz GL-Class 350 CDI Blue Efficiency,4400000,Individual,Second Owner,100000,NaN,Four Wheeler,Diesel,Automatic,6
1614,553,Mercedes-Benz C-Class Progressive C 220d,3800000,Dealer,First Owner,10000,NaN,Four Wheeler,Diesel,Automatic,2
1616,555,BMW X5 xDrive 30d xLine,4950000,Dealer,First Owner,30000,NaN,Four Wheeler,Diesel,Automatic,1
1633,572,Mercedes-Benz C-Class Progressive C 220d,3800000,Dealer,First Owner,10000,NaN,Four Wheeler,Diesel,Automatic,2
1635,574,BMW X5 xDrive 30d xLine,4950000,Dealer,First Owner,30000,NaN,Four Wheeler,Diesel,Automatic,1
1652,591,Mercedes-Benz C-Class Progressive C 220d,3800000,Dealer,First Owner,10000,NaN,Four Wheeler,Diesel,Automatic,2
1654,593,BMW X5 xDrive 30d xLine,4950000,Dealer,First Owner,30000,NaN,Four Wheeler,Diesel,Automatic,1
1671,610,Mercedes-Benz C-Class Progressive C 220d,3800000,Dealer,First Owner,10000,NaN,Four Wheeler,Diesel,Automatic,2
1673,612,BMW X5 xDrive 30d xLine,4950000,Dealer,First Owner,30000,NaN,Four Wheeler,Diesel,Automatic,1
1792,731,Land Rover Discovery Sport TD4 HSE 7S,4000000,Individual,First Owner,68000,NaN,Four Wheeler,Diesel,Automatic,2
1959,898,Mercedes-Benz C-Class Progressive C 220d,3800000,Dealer,First Owner,10000,NaN,Four Wheeler,Diesel,Automatic,2
1961,900,BMW X5 xDrive 30d xLine,4950000,Dealer,First Owner,30000,NaN,Four Wheeler,Diesel,Automatic,1
1978,917,Mercedes-Benz C-Class Progressive C 220d,3800000,Dealer,First Owner,10000,NaN,Four Wheeler,Diesel,Automatic,2
1980,919,BMW X5 xDrive 30d xLine,4950000,Dealer,First Owner,30000,NaN,Four Wheeler,Diesel,Automatic,1
2024,963,Audi A5 Sportback,4700000,Individual,First Owner,1500,NaN,Four Wheeler,Diesel,Automatic,0
2029,968,BMW 7 Series Signature 730Ld,4000000,Individual,First Owner,47000,NaN,Four Wheeler,Diesel,Automatic,6
2049,988,Land Rover Discovery S 2.0 SD4,4000000,Individual,First Owner,68000,NaN,Four Wheeler,Petrol,Automatic,2
2082,1021,Mercedes-Benz C-Class Progressive C 220d,3800000,Dealer,First Owner,10000,NaN,Four Wheeler,Diesel,Automatic,2
2084,1023,BMW X5 xDrive 30d xLine,4950000,Dealer,First Owner,30000,NaN,Four Wheeler,Diesel,Automatic,1
2087,1026,BMW 3 Series GT Luxury Line,3050000,Individual,First Owner,30000,NaN,Four Wheeler,Diesel,Automatic,3
2126,1065,Audi A4 30 TFSI Technology,3100000,Individual,First Owner,22000,NaN,Four Wheeler,Petrol,Automatic,2
2149,1088,Land Rover Discovery Sport SD4 HSE Luxury,3500000,Dealer,First Owner,53000,NaN,Four Wheeler,Diesel,Automatic,4
2351,1290,Toyota Fortuner 2.8 2WD AT BSIV,3200000,Individual,First Owner,57000,NaN,Four Wheeler,Diesel,Automatic,3
2540,1479,Audi A4 35 TDI Premium Plus,3256000,Dealer,First Owner,17000,NaN,Four Wheeler,Diesel,Automatic,1
2766,1705,Audi Q5 2.0 TDI,3500000,Individual,First Owner,35000,NaN,Four Wheeler,Diesel,Automatic,5
2895,1834,Mercedes-Benz C-Class Progressive C 220d,3800000,Dealer,First Owner,10000,NaN,Four Wheeler,Diesel,Automatic,2
2897,1836,BMW X5 xDrive 30d xLine,4950000,Dealer,First Owner,30000,NaN,Four Wheeler,Diesel,Automatic,1
3239,2178,Mercedes-Benz GL-Class 350 CDI Blue Efficiency,4400000,Individual,Second Owner,100000,NaN,Four Wheeler,Diesel,Automatic,6
3298,2237,Mercedes-Benz C-Class Progressive C 220d,3800000,Dealer,First Owner,10000,NaN,Four Wheeler,Diesel,Automatic,2
3300,2239,BMW X5 xDrive 30d xLine,4950000,Dealer,First Owner,30000,NaN,Four Wheeler,Diesel,Automatic,1
3317,2256,Mercedes-Benz C-Class Progressive C 220d,3800000,Dealer,First Owner,10000,NaN,Four Wheeler,Diesel,Automatic,2
3319,2258,BMW X5 xDrive 30d xLine,4950000,Dealer,First Owner,30000,NaN,Four Wheeler,Diesel,Automatic,1
3356,2295,Audi Q5 3.0 TDI Quattro Technology,3899000,Dealer,First Owner,22000,NaN,Four Wheeler,Diesel,Automatic,2
3384,2323,Audi A4 30 TFSI Technology,3100000,Individual,First Owner,22000,NaN,Four Wheeler,Petrol,Automatic,2
3564,2503,Ford Endeavour 3.2 Titanium AT 4X4,3200000,Individual,First Owner,20000,NaN,Four Wheeler,Diesel,Automatic,1
3641,2580,Mercedes-Benz E-Class Exclusive E 200 BSIV,4500000,Dealer,First Owner,9800,NaN,Four Wheeler,Petrol,Automatic,2
3798,2737,Mercedes-Benz C-Class Progressive C 220d,3800000,Dealer,First Owner,10000,NaN,Four Wheeler,Diesel,Automatic,2
3800,2739,BMW X5 xDrive 30d xLine,4950000,Dealer,First Owner,30000,NaN,Four Wheeler,Diesel,Automatic,1
4322,3261,BMW 5 Series 520d Luxury Line,2900000,Individual,First Owner,40000,NaN,Four Wheeler,Diesel,Automatic,3
4514,3453,BMW 5 Series 520d Luxury Line,4800000,Individual,First Owner,9422,NaN,Four Wheeler,Diesel,Automatic,2
4924,3863,Toyota Fortuner 2.8 4WD AT BSIV,3100000,Individual,First Owner,5000,NaN,Four Wheeler,Diesel,Automatic,1
4933,3872,Audi RS7 2015-2019 Sportback Performance,8900000,Dealer,First Owner,13000,NaN,Four Wheeler,Petrol,Automatic,4
4934,3873,Audi Q5 3.0 TDI Quattro Technology,3200000,Dealer,First Owner,30000,NaN,Four Wheeler,Diesel,Automatic,5
4936,3875,Land Rover Range Rover 4.4 Diesel LWB Vogue SE,4200000,Dealer,First Owner,100000,NaN,Four Wheeler,Diesel,Automatic,10
4944,3883,BMW 5 Series 520d Luxury Line,4800000,Dealer,First Owner,12999,NaN,Four Wheeler,Diesel,Automatic,1
5030,3969,Mercedes-Benz GLS 2016-2020 350d 4MATIC,5500000,Dealer,First Owner,77350,NaN,Four Wheeler,Diesel,Automatic,4
5108,4047,Volvo XC 90 D5 Inscription BSIV,4500000,Individual,First Owner,80000,NaN,Four Wheeler,Diesel,Automatic,3
5365,4304,Audi Q5 3.0 TDI Quattro Technology,3899000,Dealer,First Owner,22000,NaN,Four Wheeler,Diesel,Automatic,2